/* General styles for the Detail Page */
.main {
    height: 50vh;
    background-image: url('../../assets/bgPokemon.png');
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.mainLeft {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.mainPokemonImage {
    margin-right: 100px;
    max-width: 100%;
    height: auto;
}

.mainRight {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.cardName,
.cardStatus {
    width: 90%;
    max-width: 523px;
    height: auto;
    background: transparent;
    border: 1px solid #45F882;
    border-radius: 30px;
    padding: 30px;
}

.cardName p,
.cardStatus p {
    color: #969EB2;
    margin: 5px;
}

.cardStatus h3 {
    margin: 5px;
}

.evolutionSection {
    height: auto;
    padding: 30px;
    margin-bottom: 100px;
    text-align: center;
}

.evolutionSection h3 {
    margin-bottom: 30px;
}

.evolutionTable {
    background: #0F1C23;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border: 1px solid #45F882;
    padding: 20px;
}

.evo1,
.evo2,
.evo3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.arrow {
    font-size: 24px;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.evo1 h2,
.evo2 h2,
.evo3 h2 {
    margin-top: 14px;
    margin-left: 12px;
}

.second {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.secondLeft,
.secondRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.pokemonAbout,
.pokemonAbilities,
.pokemonBreed {
    width: 90%;
    background: #0F1C23;
    border-radius: 30px;
    padding: 20px;
    color: #FFFFFF;
    border: 1px solid #45F882;
    margin-bottom: 20px;
}

.pokemonAboutItem,
.abilityItem,
.breedItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.pokemonAboutItem:last-child,
.abilityItem:last-child,
.breedItem:last-child {
    margin-bottom: 0;
}

.pokemonAboutItemTitle,
.breedItemTitle {
    color: #969EB2;
}

.pokemonAbilities h2,
.pokemonBreed h2 {
    border-bottom: 1px solid #2C3E50;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.abilityItemTitle {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Responsive styles for mobile devices */
@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
        height: auto;
    }

    .mainLeft,
    .mainRight {
        width: 100%;
        justify-content: center;
        padding: 10px;
        margin: 0;
    }

    .mainPokemonImage {
        margin: 0;
        width: 100%;
        max-width: 450px;
    }

    .cardName,
    .cardStatus {
        width: 100%;
        margin: 10px 0;
    }

    .evolutionSection {
        padding: 10px;
        margin-bottom: 50px;
    }

    .evolutionTable {
        grid-template-columns: 1fr;
    }

    .second {
        flex-direction: column;
    }

    .secondLeft,
    .secondRight {
        width: 100%;
        padding: 10px;
    }

    .pokemonAbout,
    .pokemonAbilities,
    .pokemonBreed {
        width: 100%;
    }
}
